<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about">
  <h2>Sobre Mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris eros,
     vehicula ut tortor vel, feugiat imperdiet enim. Fusce sed sem metus. Duis turpis eros,
     facilisis vitae pretium sit amet, tempor ut magna. Etiam et nulla vitae augue congue pulvinar.
     Sed id vulputate magna. Donec sed massa sem. Fusce lobortis fermentum tortor, in consequat neque
      elementum non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tristique porttitor
      magna et faucibus. Maecenas gravida, nulla a tincidunt mattis, enim ex eleifend libero, a finibus augue
      tortor ut lacus. Sed quis fermentum enim. Duis tempor tortor et tincidunt faucibus. Pellentesque convallis
      dignissim libero ac luctus. Donec et orci id felis efficitur pulvinar ut sed nulla. Sed nec odio et libero
      dapibus dapibus. Proin blandit dui rhoncus nisi condimentum efficitur.
  </p>
</article>
