<head>
  <link rel="stylesheet" href="/node_modules/bxslider/dist/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/node_modules/bxslider/dist/jquery.bxslider.min.js"></script>
</head>
<div class="form-group">
  <label for="texto">Ingrese texto para ver si funka el jquery</label>
  <input type="text" class="form-control" id="prueba" placeholder="Ingrese aqui">
  <p class="help-block">Help text here.</p>
</div>


  <input type="button" id="btn_contact" class="btn btn-primary" value="A ver si funka">

<br>
<div id="apareceAqui"></div>
Tamaño del slider:<strong>{{anchura}}</strong>
<div class="container">
  <div id="galeria">
    <div><img src="assets/img/coffee1.jpg" title="Funky roots"></div>
    <div><img src="assets/img/coffee2.jpg" title="The long nose q"></div>
    <div><img src="assets/img/coffee3.jpg" title="Happy trees"></div>
  </div>

</div>
